.chatListContainer{
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.chatList {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #f4f9f4;
  scrollbar-color: #5a7d5a #f4f9f4;
  border-right: #5a7d5a 1px solid;
  flex: 1;
}

.userContainer > p {
  padding-left: 1vw;
  text-align: left;
}

.widen {
  transition: none;
  min-width: 375px;
}
