.chatContainer {
  display: flex;
  flex-direction: column;
}

.chatContainer > .userHeader {
  background-color: #848871;
  padding: 1vh 0 1vh 1vh;
  border-bottom: #464b37 1px solid;
}

.chatContainer > .userHeader:hover {
  filter: brightness(0.85);
  background-color: #676b53;
}

.chatContainer > .userHeader:active {
  filter: brightness(0.75);
  background-color: #555845;
}

.msgContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: #464b37 #848871;

  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  padding: 0 1vh 0 1vh;

  background-color: #848871;

}

.messageForm {
  display: flex;
  margin-top: auto;
  padding: 10px 0 10px 0;
  align-items: center;
  border-top: #464b37 1px solid;
  background-color: #848871;
}

.msgInput {
  border-radius: 20px;
  margin-left: 3vw;

  border: none;
  width: 30vw;
  height: 30px;
  padding-left: 0.5vw;
}

.chatIconContainer {
  display: flex;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.chatIconContainer:hover {
  background-color: #676b53;
}

.chatIconContainer:active {
  background-color: #535743;
}

.message {
  display: flex;
  gap: 0.5vw;
  align-items: center;
  width: 75%;
  padding-bottom: 1vh;
}

.pushRight {
  margin-left: auto;
  justify-content: right;
}

.userHeader > .chatIconContainer:hover {
   background-color: #535743;
}

.userHeader > .chatIconContainer:active {
  background-color: rgb(64, 66, 52);
}

.userHeaderPortal {
  display: flex;
  width: 100%;
  gap: 1vw;
  align-items: center;
}

.sendButton {
  background-color: #848871;
  border: none;
  cursor: pointer;
}

@media (max-width: 700px) {
  .msgInput {
    width: 75%;
  }
}
