.eventFormContainer {
  display: flex;
  flex-direction: column;
  background-color: #f4f9f4;
}

.eventForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1vh 1vw 0 1vw;
  border-top: 1px solid #5a7d5a;;
}

.eventInput {
  border: 1px solid #5a7d5a;
  border-radius: 20px;
  outline: none;
  padding: 0 10px 0 10px;
  margin-left: 10px;
  height: 30px;
}

.eventInput:focus {
  border: 2px solid #5a7d5a;
  outline: none;
}

.organiserSearchContainer {
  display: flex;
  justify-content: center;
    width: 100%;
}

.formBtnsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitEventBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 3vh 0 3vh 0;
}

.submitEventBtn > .iconContainer {
  width: 50%;
  justify-content: center;
}
