.groupForm {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #f4f9f4;
  width: max(25vw, 375px);
  height: max(350px, 50vh);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow-y: scroll;
  overflow-x: hidden;
}

.groupForm > .listHeader {
  display: flex;
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
}

.edgeBtn {
  margin-left: auto;
}

.groupList {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  padding: 5px;
  width: 100%;
  height: fit-content;
  background-color: #f4f9f4;

  position: sticky;
  top: 43px;
}

.groupUserIcon {
  height: 25px;
  width: 25px;
}

.groupListUser {
  background-color: #5a7d5a;
  border: none;
  border-radius: 10px;
}

.groupListUser:hover {
  background-color: #4a6d4a;
}

.groupListUser:active {
  background-color: #395139; 
  transform: scale(0.97);   
}

.groupSubmitBtn {
  outline: 2px white solid;
  height: 60%;
  transition: opacity 0.2s;
}

.groupListUser > .userHeader > .userName {
  color: white;
}
