.userProfile {
  display: flex;
  background-color: #848871;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.profileImage {
  width: 25vw;
  height: auto;
}

.editContainer {
  color: white;
  width: 60%;
  border-radius: 20px;
  padding: 0px 1vw 0px 1vw;
}

.editContainer > p {
  flex: 1;
  display: flex;
}

.editContainer > .icon {
  margin: 0 auto 0 0;
  text-align: left;
}

.editContainer:hover {
  background-color: #676b53;
  cursor: pointer;
}
