.userProfile {
  display: flex;
  flex-direction: column;
  background-color: #f4f9f4;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: #5a7d5a #f4f9f4;
}

.generalInfoContainer {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  height: 5vh;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: fit-content;
}

.generalInfoContainer h1 {
    color: black;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #5a7d5a;
    margin-bottom: 1vh;
}

.profileImage {
  width: 25vw;
  height: auto;
}

.descriptionContainer{
  width: 60%;
  padding: 0 1vw 0 1vw;
  height: fit-content;
}

.description {
  background-color: #d9e6d9;
  border-radius: 20px;
  padding: 10px;
  white-space: pre-wrap;
}

.descriptionInput{
  border: 1px solid #5a7d5a;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  margin-top: 10px;
  overflow: hidden;
  resize: none;
  width: 100%
}

.descriptionInput:focus {
  border: 2px solid #5a7d5a;
  outline: none;
}

.descrLimitCounter {
  text-align: right;
  padding-right: 15px;
}

.iconContainer.profileIconContainer {
  color: white;
  background-color: #5a7d5a;
  padding: 0 1vh 0 1vh;
  margin-top: 1vh;
  max-height: 100px;
  width: fit-content;
  justify-self: center;
}

.iconContainer.profileIconContainer:disabled {
  cursor: default;
  opacity: 0.5
}

.iconContainer.profileIconContainer:hover:not(:disabled) {
  background-color: #4f6b4f;
}

.iconContainer.profileIconContainer:active:not(:disabled) {
  background-color: #456049;
}

.avatarForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div[data-section="description"] {
  justify-self: center;
  align-self: center;
}

.feedbackMsg {
  font-size: 2rem;
  height: 100%;
  width: 100%;
  padding-top: 1vh;
  margin-bottom: auto;
  text-align: center;
}

.userEvents {
  display: flex;
  flex-direction: column;

  margin-top: 5vh;
}

.userEvents h1 {
  text-align: center;
  color: black;
}

.eventListBtnsContainer {
  display: flex;
  width: 100%;
}

.eventListBtn.iconContainer {
  display: flex;
  justify-content: center;
  border-radius: 0px;
  width: 50%;
}

.eventListBtnsContainer + div {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
  padding: 2vh 0 2vh 0;
}

.emptyEventListMsg {
  display: flex;
  width: 100%;
  padding: 0 1vw 0 1vw;
  justify-content: center;
}
