.userListContainer{
  display: flex;
  flex-direction: column;
}

.userList { 
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #848871;
  scrollbar-color: #464b37 #848871;
  border-left: #464b37 1px solid;
  flex: 1;
}

 .userListContainer > h1 {
  filter: brightness(0.85);
  background-color: #676b53;
  padding-left: 10px;
  height: fit-content;
 }
