.userListContainer { 
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #848871;
  scrollbar-color: #464b37 #848871;
  border-left: #464b37 1px solid;
 }

 .cardContainer {
  position: absolute;
  margin-right: -500px;
  margin-top: -500px
 }
